<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="Five9UserName" value="UserName" />
    <add key="Five9Password" value="Password" />
    <add key="OutputFilePath" value="C:\OutputFiles\" />
    <add key="NUMDaysToKeepLOCALOUTPUT" value="7" />

    <add key="WFMWebDavLocation" value="https://aspect-cloud.net/webdav" />
    <add key="WFMWebDavBasePath" value="webdav/" />
    <add key="WFMWebDavFilePath" value="streams/" />
    <add key="WFMWebDavUserName" value="Aspect" />
    <add key="WFMWebDavPassword" value="XXXXXXXXXXX" />

    <!--Example timezone format: "Central Standard Time","Pacific Standard Time"-->
    <add key="HistoricalReportTimeZone" value="Central Standard Time" />
    <add key="TCSDataProcessorIntervalTime" value="30" />
    <!--All these below three configurations are on 24 hours clock-->
    <add key="ProductivityOutputTime" value="11:20:00" />
    <add key="ProdReportStartTime" value="00:00:00" />
    <add key="ProdReportEndTime" value="23:59:59" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsAdminServiceSoapBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="WsAdminServiceSoapBinding1" sendTimeout="10.00:00:00" />
        <binding name="WsAdminServiceSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="WsAdminServiceSoapBinding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api/wsadmin/v9_5/AdminWebService"
        binding="basicHttpBinding" bindingConfiguration="WsAdminServiceSoapBinding"
        contract="Five9AdminService.WsAdmin" name="WsAdminPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.HelperTrinity" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
